<html>
	<head>
		<meta charset="UTF-8">
		<title>page get id</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<style>
			h1{ 
				color: #40007d;
			}
            .cd{
                background-color:aqua;
            }
            .r{
                background: paleturquoise;
                background-color:#46b8da;
                text-decoration-color:#46b8da;
                text-align: center;


            }
		</style>
	</head>
	<body background="{$url_base}public/image/6.jpg">
		<img src="{$url_base}public/image/logo.jpg" class="resize" />
        <div class="nav navbar navbar-default navbar-fixed-top">
            <ul class="nav navbar-nav r">
                <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                <li><a href="{$url_base}client/liste">Client</a></li>
                <li><a href="{$url_base}abonnement/liste">Abonnement</a></li>
                <li><a href="{$url_base}compteur/liste">Compteur</a></li>
            </ul>
        </div>
		<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
			<div class="panel panel-info">
				<div class="panel-heading r">BIENVENUE DANS SENFORAGE</div>
				<div class="panel-body cd">
					{if isset($ok)}
						{if $ok != 0}
							<div class="alert alert-success">Données ajoutées!</div>
						{else}
							<div class="alert alert-danger">Erreur!</div>
						{/if}
					{/if}
					<form method="post" action="{$url_base}abonnement/add">
                        <div class="form-group">
                            {if isset($smarty.get.idC)}
                            <label class="control-label" >Identifinat Client:</label>
                            <input readonly  class="form-control" type="text" name="idC" id="idC" value="{$smarty.get.idC}" />
                            {/if}
                        </div>
						<div class="form-group">
							<label class="control-label">Date de l'Abonnement</label>
							<input class="form-control" type="date" name="dateA" id="dateA"/>
						</div>
                        <div class="form-group">
                            <label class="control-label">Texte d'Abonnement</label>
                            <input class="form-control" type="text" name="texteA" id="texteA"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Compteur</label>
                            <input class="form-control" type="text" name="idCompt" id="idCompt"/>
                        </div>

						<div class="form-group">
							<input class="btn btn-success" type="submit" name="valider" value="Valider"/>
							<input class="btn btn-danger" type="reset" name="annuler" value="Annuler"/>
						</div>
					</form>
				</div>
                <a href="{$url_base}client/liste">Retour a la liste  </a>
			</div>
		</div>
	</body>
</html>