
<html>
	<head>
		<meta charset="UTF-8">
		<title>page get id</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<style>
			h1{ 
				color: #40007d;
			}
            .cd{
                background-color:aqua;
            }
            .r{
                background: paleturquoise;
                background-color:#46b8da;
                text-decoration-color:#46b8da;
                text-align: center;


            }
		</style>
	</head>
	<body background="{$url_base}public/image/10.jpg">
		<img src="{$url_base}public/image/logo.jpg" class="resize" />
        <div class="nav navbar navbar-default navbar-fixed-top">
            <ul class="nav navbar-nav r">
                <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                <li><a href="{$url_base}client/liste">Client</a></li>
                <li><a href="{$url_base}abonnement/liste">Abonnement</a></li>
                <li><a href="{$url_base}compteur/liste">Compteur</a></li>
            </ul>
        </div>
		<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
			<div class="panel panel-info">
				<div class="panel-heading r">BIENVENUE DANS SENFORAGE</div>
				<div class="panel-body cd">
					<form method="post" action="{$url_base}Client/update">
						<div class="form-group">
							<label class="control-label">ID du Client</label>
							<input class="form-control" type="text" name="idC" id="idC" value="{if isset($client)} {$client['idC']} {/if}"/>
						</div>
						<div class="form-group">
							<label class="control-label">Nom de Famille</label>
							<input class="form-control" type="text" name="nomFamille" id="nomFamille" value="{if isset($client)} {$client['nomFamille']} {/if}"/>
						</div>
                        <div class="form-group">
                            <label class="control-label">Nom du Chef de Village</label>
                            <input class="form-control" type="text" name="nomChef" id="nomChef" value="{if isset($client)} {$client['nomChef']} {/if}"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nom du Village</label>
                            <input class="form-control" type="text" name="nomVillage" id="nomVillage" value="{if isset($client)} {$client['nomVillage']} {/if}"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Adress</label>
                            <input class="form-control" type="text" name="adress" id="adress" value="{if isset($client)} {$client['adress']} {/if}"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Numero de Telephone</label>
                            <input class="form-control" type="text" name="numTel" id="numTel" value="{if isset($client)} {$client['numTel']} {/if}"/>
                        </div>
						<div class="form-group">
							<input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
							<a class="btn btn-primary" href="{$url_base}Client/liste">Retour</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>