    ²²<html>
	<head>
		<meta charset="UTF-8">
		<title>page liste</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<style>
			h1{ 
				color: #40007d;
            }
            .cd{
                background-color:aqua;
            }
            .r{
                background: paleturquoise;
                background-color:#46b8da;
                text-decoration-color:#46b8da;
                text-align: center;


			}
		</style>
	</head>
	<body background="{$url_base}public/image/11.jpg">
    <div class="nav navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav  r">
            <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
            <li><a href="{$url_base}client/liste">Client</a></li>
            <li><a href="{$url_base}abonnement/liste">Abonnement</a></li>
            <li><a href="{$url_base}compteur/liste">Compteur</a></li>
        </ul>
    </div>
		<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
			<div class="panel panel-info">
				<div class="panel-heading r">BIENVENUE DANS SENFORAGE</div>
				<div class="panel-body cd">
					{if isset($clients)}
						{if $clients != null}
							<table class="table table-bordered table-stripped">
								<tr>
									<th>Identifiant</th>
									<th>Nom Famille</th>
									<th>Nom Chef de Village</th>
                                    <th>Nom du Village</th>
                                    <th>Adress</th>
                                    <th>Numero de Telephone</th>
									<th>Action</th>
									<th>Action</th>
                                    <th>Action</th>
								</tr>
								{foreach from=$clients item=client}
									<tr>
										<td>{$client['idC']}</td>
										<td>{$client['nomFamille']}</td>
										<td>{$client['nomChef']}</td>
                                        <td>{$client['nomVillage']}</td>
                                        <td>{$client['adress']}</td>
                                        <td>{$client['numTel']}</td>
										<td><a href="{$url_base}client/delete/{$client['idC']}">Supprimer</a></td>
										<td><a href="{$url_base}client/edit/{$client['idC']}">Editer</a></td>
                                        <td><a href="{$url_base}abonnement/add?idC={$client['idC']}">Abonner</a></td>
									</tr>
								{/foreach}
							</table>
						{else}
							Liste vide
						{/if}
					{/if}
				</div>
				<a href="{$url_base}client/add">Ajout d'un Client</a>
			</div>
		</div>
		
	</body>
</html>
